/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;

  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;

  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover,
a:focus {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  margin: 0.67em 0;

  font-size: 2em;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  color: #000;
  background: #ff0;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  position: relative;

  font-size: 75%;
  line-height: 0;

  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  height: 0;

  box-sizing: content-box;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-size: 1em;
  font-family: monospace, monospace;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  /* 2 */
  margin: 0;

  /* 1 */
  font: inherit;

  color: inherit;

  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  /* 1 */
  padding: 0;

  box-sizing: border-box;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
  border: 1px solid #c0c0c0;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  /* 1 */
  padding: 0;
  border: 0;

  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #00aeff;

  text-decoration: none;
}
a:hover,
a:focus,
a:focus {
  color: #45c4ff;
}
img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}
body {
  position: relative;

  font-size: 16px;
  line-height: 1;
  font-family: HelveticaNeue, Helvetica, Arial, sans serif;
}
.wrapper {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}
.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 12px;
}
.btn {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;

  border-radius: 3px;
}
.not-mobile {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  background: rgba(0, 0, 0, 0.5);
}
.popup {
  position: fixed;
  z-index: 200;
}
::-moz-selection,
.selection {
  background: #37b7ec;
}
::selection,
.selection {
  background: #37b7ec;
}
@font-face {
  font-style: normal;
  font-family: 'HelveticaNeue';

  src: url('../fonts/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'), url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-light-webfont.svg#helveticaneuecyrlight') format('svg');
  font-weight: normal;
}
.download-app {
  height: 50px;

  background: #37b7ec;
}
.download-app__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}
.download-app__app-desc {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.download-app__text {
  height: 32px;
  padding: 3px 0;

  font-size: 11px;

  color: #fff;

  letter-spacing: .5px;
}
.download-app__app-title {
  display: block;

  font-size: 14px;
}
.download-app__btn {
  padding: 7px 17px;

  font-size: 12px;

  background: #fff;

  margin-right: 8px;
  letter-spacing: 1px;
}
.download-app__btn:hover, .download-app__btn:focus {
  color: #00adff;
}
.download-app__close {
  display: inline-block;
  width: 11px;
  height: 11px;

  background: url(../images/sprite.svg) 72.7704918% 67.9245283% no-repeat;

  cursor: pointer;
}
.logotype {
  display: inline-block;
  width: 32px;
  height: 32px;

  background: url(../images/icon@2x.png) #2e3439 center;
  border-radius: 50%;

  margin-right: 7.5px;
}
.page-header {
  min-height: 48px;

  background: #3c434a;
}
.page-header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 48px;

  font-size: 13px;

  letter-spacing: .3px;
  text-transform: uppercase;
}
.page-header__sign-up {
  display: inline-block;
  margin: 0 24px 0 63px;
}
.page-header__sign-up-link {
  color: #37b7ec;
}
.page-header__sign-up-link:hover, .page-header__sign-up-link:focus {
  color: #76cef2;
}
.page-header__sign-up-desc {
  display: none;

  color: #9ea8ae;
}
.page-header__log-in {
  color: #fff;
}
.page-header__log-in:hover, .page-header__log-in:focus {
  color: #ffffff;
}
.logo {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-top: 10px;
}
.logo__img {
  width: 106px;
}
.page-content {
  position: relative;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: url(../images/pat@2x.png) repeat;
}
.page-content__inner {
  padding-bottom: 50px;
}
.page-content__header {
  margin-bottom: 12px;
  padding-top: 20px;
}
.page-content__header-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;

  margin-bottom: 16px;
}
.page-content__header-block:last-child {
  margin-bottom: 0;
}
.user-info__about {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}
.user-info__links {
  display: none;
}
.user-info__social-links {
  display: inline-block;

  margin-right: 33px;
}
.user-info__social-link {
  display: inline-block;
  margin: 0 6px;
}
.user-info__avatar {
  display: inline-block;
  width: 38px;
  height: 38px;

  border-radius: 50%;

  margin-right: 13px;
}
.user-info__name {
  color: #2c2f31;

  letter-spacing: 1px;
}
.user-info__user-link {
  height: 24px;
  padding: 0 7px;

  font-size: 13px;

  color: #fff;
  background: #92b6c4;
  border-radius: 4px;
}
.user-info__user-link:hover, .user-info__user-link:focus {
  color: #fff;
}
.user-info__posts {
  margin: 20px 0 0 0;

  font-size: 18px;

  color: #2c2f31;

  -ms-flex-item-align: start;

      align-self: flex-start;
  font-weight: 700;
}
.user-info__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;

  font-size: 13px;
  text-align: center;

  -ms-flex-order: -1;

      order: -1;
}
.user-info__add-user {
  width: 140px;
  height: 32px;
  padding: 9px;

  color: #fff;
  background: #37b7ec;
}
.user-info__add-user:hover, .user-info__add-user:focus {
  color: #fff;
}
.user-info__add-user--wide {
  width: 300px;
}
.user-info__share {
  width: 140px;
  height: 32px;
  padding: 9px;

  color: #3c434a;
  background: #fff;

  transition: .5s linear;

  margin-left: 16px;
  cursor: pointer;
}
.user-info__share::before {
  display: inline-block;
  width: 16px;
  height: 16px;

  background: url(../images/sprite.svg) 100% 61.2244898% no-repeat;

  content: "";
  margin-right: 7px;
}
.user-info__share.popup {
  top: 110px;
  right: 20px;
  left: 20px;

  display: block;
  width: auto;
  height: auto;
  margin: 0;
  padding: 18px 0 0 0;

  font-size: 22px;

  cursor: default;
}
.user-info__share-content {
  height: 151px;

  text-align: center;

  background: #f0f5fa;

  margin-top: 16px;
}
.user-info__share-link {
  padding: 21px 0 40px 0;

  font-size: 20px;

  color: #fff;
}
.user-info__share-close {
  position: absolute;
  top: 5px;
  right: 5px;

  display: block;
  width: 11px;
  height: 11px;

  background: url(../images/sprite.svg) 52.45901639% 67.9245283% no-repeat;

  content: "";
  cursor: pointer;
}
.social-link__btn {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 0 10px;

  border-radius: 50%;
}
.social-link__btn-fb {
  background: url(../images/sprite-soc.svg) 11.5% 79% no-repeat, #3a589c;
}
.social-link__btn-tw {
  background: url(../images/sprite-soc.svg) 50.67567568% 20% no-repeat, #29a9e1;
}
.social-link__btn-vk {
  background: url(../images/sprite-soc.svg) 13.5% 19% no-repeat, #5a7ba0;
}
.social-link__btn-in {
  background: url(../images/sprite-soc.svg) 87% 21% no-repeat, #007bb8;
}
.social-link__fb {
  display: inline-block;
  width: 8px;
  height: 16px;

  background: url(../images/sprite.svg) 87.87878788% 28.57142857% no-repeat;
}
.social-link__tw {
  display: inline-block;
  width: 16px;
  height: 13px;

  background: url(../images/sprite.svg) 27.5862069% 69.23076923% no-repeat;
}
.social-link__vk {
  display: inline-block;
  width: 20px;
  height: 11px;

  background: url(../images/sprite.svg) 70.37037037% 0 no-repeat;
}
.social-link__in {
  display: inline-block;
  width: 15px;
  height: 15px;

  background: url(../images/sprite.svg) 0 100% no-repeat;
}
.entry {
  position: relative;

  background: #fff;
  border-radius: 5px;

  /*
	#################################################################################################################################################################################################################################################################################################################################################################################################
	*/
}
.entry__inner {
  margin: 12px 0;
  padding: 16px 16px 30px;

  font-size: 16px;
}
.entry__content {
  line-height: 1.63;

  color: #494949;

  margin-bottom: 24px;
}
.entry__content:last-child {
  margin-bottom: 0;
}
.entry__content img,
.entry__content video {
  display: inline-block;
  max-width: 100%;
  min-height: 120px;
  height: 120px;
  margin: 4px 0;

  vertical-align: top;
}
.entry__content img:first-child {
  margin-left: 0;
}
.entry__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.entry__list-item {
  margin: 5px 0;
}
.entry__label {
  position: relative;

  display: -ms-inline-flexbox;

  display: inline-flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  width: 265px;

  line-height: 1.4;

  cursor: pointer;
}
.entry__checkbox:not(checked) + .entry__label::before {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 14px;
  -ms-flex-preferred-size: 14px;
      flex-basis: 14px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 14px;
  border: 2px solid #b8b8b8;

  font-size: 13px;

  color: #fff;
  border-radius: 2px;

  transition: all .2s;

  content: "\2713";
  margin-right: 9px;
  font-weight: 700;
}
.entry__checkbox:checked + .entry__label::before {
  background: #3b99fc;

  border-color: #3b99fc;
}
.entry__checkbox {
  position: absolute;

  opacity: 0;
}
.entry__ctrl {
  color: #aeb4ba;
}
.entry__archive {
  opacity: .6;
}
.entry__not-active-text {
  color: #858585;
}
.entry__mark::before,
.entry__lock::before,
.entry__archive::before {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  display: block;
  width: 0;
  height: 0;

  content: "";
  border-left: 44px solid transparent;
}
.entry__mark::before {
  border-top: 44px solid #ef4b2b;
}
.entry__lock::before {
  border-top: 44px solid #3c434a;
}
.entry__archive::before {
  border-top: 44px solid #979da3;
}
.entry__mark::after,
.entry__lock::after,
.entry__archive::after {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;

  display: block;

  content: "";
}
.entry__mark::after {
  width: 16px;
  height: 15px;

  background: url(../images/sprite.svg) 45.76271186% 98.03921569% no-repeat;
}
.entry__lock::after {
  width: 12px;
  height: 15px;

  background: url(../images/sprite.svg) 24.19354839% 100% no-repeat;
}
.entry__archive::after {
  width: 16px;
  height: 14px;

  background: url(../images/sprite.svg) 100% 0 no-repeat;
}
.entry__lock,
.entry__archive {
  display: none;
}
.entry__archive {
  opacity: .7;
}
.entry__section {
  padding: 16px 0;

  margin-bottom: 19px;
  border-bottom: .5px solid #bdbdbd;
}
.entry__section:first-child {
  padding-top: 0;
}
.entry__ctrl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.entry__calendar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;

  line-height: 1;

  color: #858585;

  margin-top: 16px;
}
.entry__calendar::before {
  display: inline-block;
  width: 18px;
  height: 20px;

  background: url(../images/sprite.svg) 35.71428571% 0 no-repeat;

  content: "";
  margin-right: 10px;
}
.entry__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.entry__share-btn,
.entry__copy-btn {
  position: relative;

  display: inline-block;
  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  cursor: pointer;
}
.entry__share-btn {
  background: url(../images/sprite.svg) 100% 61.2244898% no-repeat;
}
.entry__copy-btn {
  width: 20px;
  height: 20px;

  background: url(../images/sprite.svg) 0 0 no-repeat;

  margin-left: 28px;
}
.entry__link,
.entry__share-link {
  position: absolute;
  top: -54px;
  left: -62px;

  width: 134px;
  height: 42px;
  padding: 14px 10px;

  font-size: 14px;
  text-align: center;

  color: #fff;
  background: #404040;
  border-radius: 3px;
  opacity: .7;
}
.entry__link::after,
.entry__share-link::after {
  position: absolute;
  bottom: -10px;
  left: 48%;

  display: block;
  width: 0;
  height: 0;

  content: "";
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid #404040;
}
.entry__share-social-link {
  margin: 0 2px;
}
.entry__list-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.entry__list-content {
  /*
		display: flex;
		align-items: center;
		*/
}
.entry__list-icon,
.entry__list-title {
  display: inline-block;
}
.entry__list-icon {
  width: 16px;
  height: 14px;

  background: url(../images/sprite.svg) 0 70.58823529% no-repeat;

  margin-right: 12px;
  cursor: pointer;
}
.entry__list-icon:hover, .entry__list-icon:focus {
  background: url(../images/sprite.svg) 34.48275862% 39.21568627% no-repeat;
}
.entry__list-title {
  margin: 0;

  color: #333;
}
.entry__list-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;

  color: #858585;
}
.entry__list-published-time {
  -ms-flex-order: -1;
      order: -1;
  margin-left: 33px;
}
.map-mark {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0 0 19px;
}
.map-mark__desc {
  max-width: 250px;
}
.map-mark__place-title {
  margin: 0;

  font-size: 16px;
  line-height: 1.31;

  color: #383838;

  font-weight: 700;
}
.map-mark__address-wrapper {
  margin: 8px 0 16px 0;

  color: #858585;
}
.map-mark__address {
  display: block;
  margin: 4px 0;

  line-height: 1;
}
.map-mark__service-link {
  color: #00adff;
}
.loaded-file {
  display: inline-block;
  margin: 6px 12px;

  font-size: 14px;
  text-align: center;

  color: #333;
}
.loaded-file__link {
  display: block;

  color: #333;
}
.loaded-file__link:hover, .loaded-file__link:focus {
  color: #555555;
}
.loaded-file__type-eps::before {
  display: block;
  width: 46px;
  height: 58px;
  margin: 0 auto 12px;

  background: url(../images/db@2x.png);

  content: "";
}
.loaded-file__type-zip::before {
  display: block;
  width: 46px;
  height: 58px;
  margin: 0 auto 12px;

  background: url(../images/skydrive@2x.png);

  content: "";
}
.loaded-file__type-doc::before {
  display: block;
  width: 46px;
  height: 58px;
  margin: 0 auto 12px;

  background: url(../images/attach-doc@2x.png);

  content: "";
}
.page-footer {
  height: 64px;

  font-size: 11px;

  color: #979ea4;
  background: #3c434a;

  font-weight: 700;
  letter-spacing: .4px;
  text-transform: uppercase;
}
.page-footer__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
}
.page-footer__copyright {
  display: none;
}
.page-footer__inner a {
  color: inherit;

  text-decoration: none;
}
.page-footer__links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-width: 179px;
}
.page-footer__social-link {
  display: inline-block;

  margin-right: 18px;
}
.page-footer__social-link:last-child {
  margin-right: 0;
}
.page-footer__social-link--tw {
  width: 20px;
  height: 16px;

  background: url(../images/sprite.svg) 0 40.81632653% no-repeat;
}
.page-footer__social-link--fb {
  width: 10px;
  height: 20px;

  background: url(../images/sprite.svg) 59.375% 24.44444444% no-repeat;
}
.hide {
  display: none;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    padding: auto 30px;
  }
  .download-app__btn {
    margin-right: 16px;
  }
  .logotype {
    width: 34px;
    height: 34px;
    border-radius: 8px;
  }
  .page-header__sign-up {
    margin: 0;
  }
  .page-header__sign-up-link {
    text-decoration: underline;
  }
  .page-header__sign-up-desc {
    display: inline;
  }
  .page-content__header-block {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .user-info__links {
    display: block;
  }
  .user-info__avatar {
    width: 48px;
    height: 48px;
  }
  .user-info__name {
    font-size: 18px;
  }
  .user-info__posts {
    margin: 0;
  }
  .user-info__btns {
    -ms-flex-order: 2;
    order: 2;
  }
  .user-info__share {
    display: none;
  }
  .entry__inner {
    padding: 30px;
  }
  .entry__content img,
  .entry__content video {
    margin: 6px;
  }
  .entry__label {
    width: 660px;
  }
  .entry__list-wrapper:last-child {
    border-bottom: none;
  }
  .entry__list-wrapper {
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 13px 0 16px;
    border-bottom: 1px solid #bdbdbd;
  }
  .entry__list-published-time {
    -ms-flex-order: 2;
    order: 2;
  }
  .map-mark {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .map-mark__map > .map-mark__map-img {
    width: 300px;
    height: auto;
    margin: 0 16px 0 0;
  }
  .page-footer__copyright {
    display: block;
  }
}
@media (min-width: 1000px) {
  .container {
    width: 960px;
  }
  .download-app {
    display: none;
  }
  .page-header__sign-up {
    text-align: center;
  }
  .entry__content img,
  .entry__content video {
    height: 140px;
  }
  .entry__label {
    width: 900px;
  }
  .entry__lock,
  .entry__archive {
    display: block;
  }
  .map-mark__desc {
    max-width: initial;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .entry__label {
    display: inline-block;
  }
}
@media (max-width: 767px) {
  .hide__phone {
    display: none;
  }
}
